<!DOCTYPE html>
<html>
<head>`n    {% load static %}
    <title>Leave Approval</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/api.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
</head>

<body onload="loadPendingLeaves()">

<div class="sidebar">
    <a href="hod.html">Dashboard</a>
    <a href="hod_leave.html">Leave Approval</a>
    <a href="index.html">Logout</a>
</div>

<div class="main">
    <div class="header">
        <h2>Leave Requests</h2>
    </div>

    <div class="card">
        <table border="1">

            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Reason</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody id="leaveTableBody"></tbody>

        </table>
    </div>
</div>
</body>
</html>


