<!DOCTYPE html>
<html>
<head>`n    {% load static %}
    <title>Manage Classes</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body onload="loadClasses()">

<div class="sidebar">
    <a href="/hod/">Dashboard</a>
    <a href="/manage_classes/">Manage Classes</a>
    <a href="/">Logout</a>
</div>

<div class="main">

<div class="header">
    <h2>Class Management</h2>
</div>

<div class="card">

    <input type="text" id="classNameInput" placeholder="Class Name">

    <button onclick="addClass()" class="btn-primary">
        Add Class
    </button>

    <hr>

    <table width="100%">
        <thead>
            <tr>
                <th>Class Name</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody id="classTable"></tbody>

    </table>

</div>

</div>

<script src="{% static 'js/api.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
</body>
</html>


