<!DOCTYPE html>
<html>
<head>`n    {% load static %}
    <title>Student Leave</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/api.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
</head>

<body>

<div class="sidebar">
    <a href="student.html">Dashboard</a>
    <a href="student_leave.html">Apply Leave</a>
    <a href="student_leave_status.html">Leave Status</a>
    <a href="index.html">Logout</a>
</div>

<div class="main">
    <div class="header">
        <h2>Apply Leave</h2>
    </div>

    <div class="card">
        <form onsubmit="applyLeave(event,'student')">
            <label>From Date</label>
            <input type="date" id="fromDate" required>

            <label>To Date</label>
            <input type="date" id="toDate" required>

            <label>Reason</label>
            <textarea id="reason" required></textarea>

            <button type="submit" class="btn-primary">Apply Leave</button>
        </form>
    </div>
</div>

</body>
</html>


